[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pygments = "*"
markdown = "*"
pillow = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
django-filter = "*"
pyjwt = "*"
django-rest-registration = "*"
django-extra-fields = "*"
psycopg2 = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
